{
    "sheet_id": "1avMeCIiayaCcx8fDzldo3KEiRHyM2qjjBuCXWKRwyao",
    "client_id": "INSERT_APPROPRIATE_VALUE_HERE.apps.googleusercontent.com",
    "client_secret": "INSERT_CLIENT_SECRET_HERE",
    "range": "Features!A:C"
}
