{
    "google_sheet_id": "1avMeCIiayaCcx8fDzldo3KEiRHyM2qjjBuCXWKRwyao",
    "google_sheet_client_id": "REPLACE_WITH_APPROPRIATE_VALUE.apps.googleusercontent.com",
    "google_sheet_client_secret": "REPLACE_WITH_GOOGLE_API_CLIENT_SECRET",
    "google_sheet_range": "Features!A:G",
    "github_owner": "solutionguidance",
    "github_repository": "psm",
    "github_auth_token_secret": "REPLACE_WITH_GITHUB_AUTH_TOKEN",
    "psm_reqs": "/where/you/keep/repositories/psm/requirements/RTM.xlsx"
}
