{
    "gsheet_id": "1avMeCIiayaCcx8fDzldo3KEiRHyM2qjjBuCXWKRwyao",
    "gsheet_client_id": "INSERT_APPROPRIATE_VALUE_HERE.apps.googleusercontent.com",
    "gsheet_client_secret": "INSERT_CLIENT_SECRET_HERE",
    "gsheet_range": "Features!A:C"
    "psm_csv_dir": "/where/you/keep/repositories/psm/requirements/csv-exports"
}
